<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
     <!-- 已将安排演出的时刻表-->
<div class="container" id="showOpera">
	<h2>演出计划</h2>
    <div id="cs">
        <table class="table table-hover" id="">
            <thead>
                <tr>
                    <th>剧目编号</th>
                    <th>日期</th>
                    <th>时间段</th>
                    <th>演出厅</th>
                    <th>剧目类型</th>
                    <th>剧目名称</th>
                    <th>剧目时长</th>
                    <th>票价</th>
                    <th>操作</th>
                </tr>
            </thead>
                    <tbody id="tab" ></tbody>
        </table>
    </div>

</div>






<script>
        // 获取已经安排的演出信息
        // 参数 status  （1,2.3、4 对应查询某演出厅的信息）
        function show() {
                    $.ajax({
        url  :"/api/getOperaList",
        type :"POST",
        data :{
            status:"1"
        },
        success:function (data) {
            console.log(data)
                        jsdata1=data.data
                    var obj = document.getElementById("ul");


                      for (var i=0;i<jsdata1.length;i++) {


                          var tr = document.createElement("tr");
                          var createtr0 = document.createElement("td");
                          var createtr1 = document.createElement("td");
                          var createtr2 = document.createElement("td");
                          var createtr3 = document.createElement("td");
                          var createtr4 = document.createElement("td");
                          var createtr5 = document.createElement("td");
                          var createtr6 = document.createElement("td");
                          var createtr7 = document.createElement("td");
                          var createtr8 = document.createElement("td");

                          createtr0.innerHTML = jsdata1[i].id;
                          tr.appendChild(createtr0);

                          createtr1.innerHTML = jsdata1[i].date;
                          tr.appendChild(createtr1);

                          createtr2.innerHTML = jsdata1[i].time;
                          tr.appendChild(createtr2);

                          createtr3.innerHTML = jsdata1[i].schedule;
                          tr.appendChild(createtr3);

                          createtr4.innerHTML = jsdata1[i].type;
                          tr.appendChild(createtr4);

                          createtr5.innerHTML = jsdata1[i].name;
                          tr.appendChild(createtr5);

                          createtr6.innerHTML = jsdata1[i].length;
                          tr.appendChild(createtr6);

                          createtr7.innerHTML = jsdata1[i].price;
                          tr.appendChild(createtr7);

                          createtr8.innerHTML = '<input type="button" value="购票" class="onbut" onclick="onbtnClick(this)">';
                          tr.appendChild(createtr8);


                          document.getElementById("tab").appendChild(tr)


                      }

        },
        error:function () {

        }
    });
        }

        //显示数据
        show();

        var onbutlist = document.getElementsByClassName("onbut");
        console.log(onbutlist);
        function onbtnClick(e) {
            //
            var date = e.parentNode.parentNode.childNodes[1].innerText;
            var times = e.parentNode.parentNode.childNodes[2].innerText;
            var studios = e.parentNode.parentNode.childNodes[3].innerText;
            var operaId = e.parentNode.parentNode.childNodes[0].innerText;
            var price = e.parentNode.parentNode.childNodes[7].innerText;
            var name = e.parentNode.parentNode.childNodes[5].innerText;
            if (studios ==="一号演出厅"){
                studio="1"
            }else if(studios === "二号演出厅"){
                studio="2"
            }else if(studios === "三号演出厅"){
                studio="3"
            }else if(studios === "四号演出厅"){
                studio="4"
            }

            if (times ==="8:00-11:00"){
                time="1"
            }else if(times === "12:00-15:00"){
                time="2"
            }else if(times === "16:00-19:00"){
                time="3"
            }else if(times === "20:00-23:00"){
                time="4"
            }
{#            console.log(date)#}
{#            console.log(time)#}
{#            console.log(studio)#}
{#            console.log(operaId)#}


            data={
                date:date,
                time:time,
                studio:studio,
                operaId:operaId,
                price:price,
                name:name

            };
            console.log(data);
            var datastr = JSON.stringify(data);
            localStorage.setItem("data",datastr);


{#            window.show.location.href = '../welcome.en';#}
            location.href="/showOpera"

{#            $.ajax({#}
{#                url:"/showOpera",#}
{#                type:"POST",#}
{#                data:{#}
{##}
{#                },#}
{#                success:function (data) {#}
{#                    console.log(data);#}
{##}
{#                    $("#tab").children="none";#}
{#                    //清楚tab元素的子元素#}
{#                    var f= document.getElementById("tab");#}
{#                    var childs = f.childNodes;#}
{#                    for(var i =childs.length-1; i >= 0;i--) {#}
{#                        console.log(childs[i])#}
{#                        f.removeChild(childs[i]);#}
{##}
{#                    }#}
{#                    show();#}
{##}
{#                },#}
{#                error:function () {#}
{##}
{#                }#}
{##}
{#            })#}


        }

</script>
</body>
</html>