<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        li{
            list-style: none;
            height: 50px;
        }
        #left-input{
            position: absolute;
            left: 300px;
            top: 50px;

        }
        #right-input{
            position: absolute;
            left: 450px;
            top: 50px;

        }
        #input{

            height: 400px;
{#            border-radius: 50px;#}
        }
        input{
{#            border-radius: 20px;#}
        }
        #showOpera{


        }
        #cs{
{#            width: 1100px;#}
{#            height: 300px;#}
{#            overflow: auto;#}
        }
        #biaotou{
            width: 975px;
        }

    </style>
</head>
<body>

<div class="container" id="showOpera">
	<h2>已上线剧目</h2>
    <div id="cs">
        <table class="table table-hover" id="">
            <thead>
                <tr>
                    <th>订单日期</th>
                    <th>订单场次</th>
                    <th>演出厅</th>
                    <th>剧目名称</th>
                    <th>订单金额</th>
                    <th>用户</th>
                    <th>票状态</th>
                </tr>
            </thead>
    {#        <div id="cs1">#}

                    <tbody id="tab" >

                    </tbody>
    {#        </div>#}
        </table>
    </div>


</div>



    <script>
        function showOpera() {
            $.ajax({
                async:false,
                url: "/api/getOrder",
                type: "POST",
                data : {

                },
                success : function (data) {


                    jsdata1=data.data
                    console.log()
                    var obj = document.getElementById("ul");


                      for (var i=0;i<jsdata1.length;i++){

                          console.log(jsdata1[i].orderlist)
                    if(jsdata1[i].time=="1"){
                              time="8:00-11:00"
                    }else if(jsdata1[i].time=="2"){
                        time="12:00-15:00"
                    }else if(jsdata1[i].time=="3"){
                        time="16:00-19:00"
                    }else if(jsdata1[i].time=="4"){
                        time="20:00-23:00"
                    }
                          if(jsdata1[i].studio=="1"){
                              studio="一号演出厅"
                    }else if(jsdata1[i].studio=="2"){
                        studio="二号演出厅"
                    }else if(jsdata1[i].studio=="3"){
                        studio="三号演出厅"
                    }else if(jsdata1[i].studio=="4"){
                        studio="四号演出厅"
                    }





                              var tr =document.createElement("tr");
                      var createtr0 = document.createElement("td");
                      var createtr1 = document.createElement("td");
                      var createtr2 = document.createElement("td");
                      var createtr3 = document.createElement("td");
                      var createtr4 = document.createElement("td");
                      var createtr5 = document.createElement("td");
                      var createtr6 = document.createElement("td");
                      var createtr7 = document.createElement("td");

                        createtr0.innerHTML = jsdata1[i].date;
                        tr.appendChild(createtr0);

                        createtr1.innerHTML = time;
                        tr.appendChild(createtr1);

                        createtr2.innerHTML = studio;
                        tr.appendChild(createtr2);

                        createtr3.innerHTML = jsdata1[i].operaname;
                        tr.appendChild(createtr3);

                        createtr4.innerHTML = jsdata1[i].money;
                       tr.appendChild(createtr4);

                        createtr5.innerHTML = jsdata1[i].name;
                        tr.appendChild(createtr5);

                        createtr6.innerHTML = jsdata1[i].status;
                        tr.appendChild(createtr6);



                        document.getElementById("tab").appendChild(tr)



                    }
                    },
                error : function(){
                    console.log("错误")
                }
            });var onbutlis = document.getElementsByClassName("onbut");
        }

        showOpera();



</script>



</body>
</html>