<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #bigbox{

        }
        .l{
            position: absolute;
            right: 2px;
            width: 1px;
            height: 500px;
            background: #969696;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="l"></div>
<div id="bigbox">
    <div>
        <a href="/addOpera" target="manageHome">一号演出厅</a>
    </div>
    <div>
        <a href="/statusOpera" target="manageHome">二号演出厅</a>
    </div>
    <div>
        <a href="/managePlay" target="manageHome">三号演出厅</a>
    </div>
    <div>
        <a href="/findPlay" target="manageHome">四号演出厅</a>
    </div>


</div>
</body>
</html>